<div class="header grid grid-cols-6">
    <div class="col-start-3 col-span-2">
        <form action="/chapter" method="post">
            <div class="flex gap-2 py-4">
                <div class="flex-auto">
                    <input class="border border-slate-400 rounded p-1 text-gray-900 w-full text-sm " type="text"
                        placeholder="Enter the title of Course" name="title" />
                </div>
                <div class="flex-auto">
                    <input class="border border-slate-400 rounded p-1 text-gray-900 w-full text-sm " type="text"
                        placeholder="Name of chapter" name="name" />
                </div>
                <div class="flex-auto">
                    <input class="border border-slate-400 rounded p-1 text-gray-900 w-full text-sm " type="text"
                        placeholder="Discription" name="discription" />
                </div>

                <div class="flex-none">
                    <button
                        class="cursor-pointer transition-all bg-blue-500 text-white px-4 py-1 rounded-lg border-blue-600 border-b-[4px] hover:brightness-110 hover:-translate-y-[1px]border-b-[6px] active:border-b-[2px] active:brightness-90 active:translate-y-[2px] leading-4"
                        type="submit">Add</button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>