body {
    /* background-color: blueviolet; */
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBzMyAh4VOqkczAN_V4jr37IQYlobg8PUR7w&usqp=CAU);
    background-size: cover;
    font-family: "Times New Roman", Times, serif;
    /* color: blue; */
    box-sizing: border-box;
}